apiVersion: v1
kind: Service
metadata:
  name: mozart
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"
  labels:
    app: mozart
spec:
  ports:
    - port: 8888
  selector:
    app: mozart
  type: LoadBalancer

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mozart
  labels:
    app: mozart
spec:
  # replicas: 2
  selector:
    matchLabels:
      app: mozart
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mozart
    spec:
      containers:
        - name: mozart
          image: hysds-mozart:unity-v0.0.1
          # env:
          #   - name: WORKERS
          #     value: "4"
          ports:
            - containerPort: 8888
              name: mozart
          volumeMounts:
            - name: mozart-settings
              mountPath: /home/ops/mozart/settings.cfg
              subPath: settings.cfg
            - name: celeryconfig
              mountPath: /home/ops/mozart/celeryconfig.py
              subPath: celeryconfig.py
            - name: netrc
              mountPath: /home/ops/.netrc
              subPath: .netrc
      volumes:
        - name: mozart-settings
          configMap:
            name: mozart-settings
        - name: celeryconfig
          configMap:
            name: celeryconfig
        - name: netrc
          configMap:
            name: netrc
